PORT=3000

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
PUBLIC_BASE_URL=

COMPANY_PHONE=
OPERATOR_PHONE=
OPERATOR_PIN=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=  
DDB_TABLE=
S3_BUCKET=
